<div>   
    <%=@data["weather"].first["main"]%>
    <p><%= Date.today.strftime("%A, %B %d")%></p>
    <img src="https://openweathermap.org/img/wn/<%= @data["weather"].first["icon"]%>@2x.png"/>
    <p><%= @data["weather"].first["main"]%></p>
    <p><%= @data["weather"].first["description"]%></p>
    <p><%= @data["main"]["temp"]%> Fahrenheit</p>
</div>
